.modalBg{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    min-height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3000;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-sizing: border-box;
    width: 450px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.62);
    z-index: 3002;
    border-radius: 10px;
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}